<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/header') %>
    <title>About @iqbalbaharum</title>
  </head>
  <body>
    
    <%- include('partials/nav') %>
    <!-- Page Content -->
    <section>
        <div class="container">
            <div class="row align-items-center vertical-center">
                <div class="col">
                    <img src="/img/iqbal.png" class="rounded mx-auto d-block img-fluid" />
                </div>
                <div class="col text-center">
                    <h3 class="about-text">
                        Hi, I am
                    </h3>
                    <h2 class="name">
                        Iqbal Baharum
                    </h3>
                    <h3 class="about-text">
                        programmer
                    </h3>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/scripts') %>
  </body>
</html>