<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/header') %>
    <title>Portfolio</title>
  </head>
  <body>
    
    <%- include('partials/nav') %>

    <!-- Page Content -->
    <section>
        <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mt-5">Portfolio</h1>
            </div>
        </div>
        </div>
    </section>

    <%- include('partials/scripts') %>
  </body>
</html>